<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/contact.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../js/contact.js"></script>
</head>
<body>
	<div class="head">
		<a href="/">
			<div class="home"><span>Home</span>
				<div class="bg"></div>
			</div>
		</a>
	</div>
	<section class="section1">
		<div class="pic"><img src="../images/contact/1.jpg" alt=""></div>
		<div class="content">
			<h4>Contact</h4>
			<ul>
				<li class="list">
					<img src="../images/contact/phone.png" alt="">
					<span>0516-85062386</span>
				</li>
				<li class="list">
					<img src="../images/contact/email.png" alt="">
					<span>titlepark@163.com</span>
				</li>
				<li class="list">
					<img src="../images/contact/position.png" alt="">
					<span>中国 · 徐州</span>
				</li>
				
			</ul>
		</div>
	</section>
</body>
</html>