<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一座城--徐州</title>
	<style>
	*{
		padding: 0;
		margin: 0;
	}
	a {
		text-decoration: none;
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight: normal;
	}
	body {
		cursor: default;
		background-color: #000;
	}
	ul {
		list-style: none;
	}
	
	.bg {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -999;
	}
	.bg .bg-img img{
		width: 100%;
	}
	.map {
		width: 100%;
		z-index: 111;
	}
	.map img {
		width: 100%;
	}
	.pro ,.read,.news,.footer {
		background-color: #000;
	}
	</style>
</head>
<body>
	<section class="map">
		<img src="pc/img/home/map.png" alt="">
	</section>
	
	<section class="bg">
		<div class="bg-img">
			<img src="pc/img/home/yunlong.jpg" alt="">
		</div>
	</section>
	
</body>
</html>