<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>artweb</title>
	<link rel="stylesheet" href="pc/css/init.css">
	<link rel="stylesheet" href="pc/css/common.css">
	<link rel="stylesheet" href="pc/css/project.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
	<section class="nav">
		<div class="pic">
			<img src="pc/img/home/nav.png" alt="">
		</div>
		<div class="navTxt">
			<img class="close" src="pc/img/home/close.png" alt="">
			<ul>
				<li><a href="/">首 页</a></li>
				<li><a href="/project">精 选</a></li>
				<li><a href="/read/readList">阅 读</a></li>
				<li><a href="">资 讯</a></li>
			</ul>
			<img class="bg" src="pc/img/common/bg_1.jpg" alt="">
		</div>
	</section>
	<div class="writingArticle"><a href="read/createRead">写文章</a></div>
	<section class="banner">
		<div>
			<div class="bannerImg">
				<ul>
					<li class="list1 list">
						<div class="cover"></div>
					</li>
					<li class="list2 list">
						<div class="cover"></div>
					</li>
					<li class="list3 list">
						<div class="cover"></div>
					</li>
				</ul>
			</div>
			<div class="content">
				<ul>
					<li class="list list1">
						<strong>
							<span>子</span>
							<span>非</span>
							<span>鱼</span>
							<span>也</span>
						</strong>
						<span>文章来自：Bin</span>
					</li>
					<li class="list list2">
						<strong>
							<span>我</span>
							<span>来</span>
							<span>自</span>
							<span>1990</span>
						</strong>
						<span>文章来自：jicy</span>
					</li>
					<li class="list list3">
						<strong>
							<span>Stefan</span>
							<span></span>
							<span>Draschan</span> 
						</strong>
						<span>作品来自：stefandraschan</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="title">
			<ul>
				<li class="list1 list">CULTURE
					<div class="line"></div>
				</li>
				<li class="list2 list">ART
					<div class="line"></div>
				</li>
				<li class="list3 list">TRAVEL
					<div class="line"></div>
				</li>
				<li class="list3 list">LIFE
					<div class="line"></div>
				</li>
			</ul>
		</div>
	</section>
	<section class="ProTxt">
		<div class="wrap">
			<h2>Culture</h2>
			<p>
				文化（culture）是一个非常广泛和最具人文意味的概念，简单来说文化就是地区人类的生活要素形态的统称：即衣、冠、文、物、食、住、行等。给文化下一个准确或精确的定义，的确是一件非常困难的事情。对文化这个概念的解读，人类也一直众说不一。但东西方的辞书或百科中却有一个较为共同的的解释和理解：文化是相对于政治、经济而言的人类全部精神活动及其活动产品。
			文化（culture）是一个非常广泛和最具人文意味的概念，简单来说文化就是地区人类的生活要素形态的统称：即衣、冠、文、物、食、住、行等。给文化下一个准确或精确的定义，的确是一件非常困难的事情。对文化这个概念的解读，人类也一直众说不一。但东西方的辞书或百科中却有一个较为共同的的解释和理解：文化是相对于政治、经济而言的人类全部精神活动及其活动产品。
		文化（culture）是一个非常广泛和最具人文意味的概念，简单来说文化就是地区人类的生活要素形态的统称：即衣、冠、文、物、食、住、行等。给文化下一个准确或精确的定义，的确是一件非常困难的事情。对文化这个概念的解读，人类也一直众说不一。但东西方的辞书或百科中却有一个较为共同的的解释和理解：文化是相对于政治、经济而言的人类全部精神活动及其活动产品。文化（culture）是一个非常广泛和最具人文意味的概念，简单来说文化就是地区人类的生活要素形态的统称：即衣、冠、文、物、食、住、行等。给文化下一个准确或精确的定义，的确是一件非常困难的事情。对文化这个概念的解读，人类也一直众说不一。但东西方的辞书或百科中却有一个较为共同的的解释和理解：文化是相对于政治、经济而言的人类全部精神活动及其活动产品。
		文化（culture）是一个非常广泛和最具人文意味的概念，简单来说文化就是地区人类的生活要素形态的统称：即衣、冠、文、物、食、住、行等。给文化下一个准确或精确的定义，的确是一件非常困难的事情。对文化这个概念的解读，人类也一直众说不一。但东西方的辞书或百科中却有一个较为共同的的解释和理解：文化是相对于政治、经济而言的人类全部精神活动及其活动产品。
	</p>
		

		</div>
	</section>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="pc/js/common.js"></script>
	<script type="text/javascript" src="pc/js/project.js"></script>
</body>
</html>