<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reading</title>
	<link rel="stylesheet" href="../pc/css/init.css" />
	<link rel="stylesheet" href="../pc/css/common.css" />
	<link rel="stylesheet" href="../pc/css/sign_up.css" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
	<section class="wrap">
		<div class="sign">
			<div>注册</div>
			<input class="name" type="text" value="输入昵称" onfocus="this.select()">
			<input class="password" type="password" value="输入密码" onfocus="this.select()">
			<div class="submit">注册</div>
		</div>
	</section>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../pc/js/common.js"></script>
	<script type="text/javascript" src="../pc/js/sign_up.js"></script>
</body>
</html>